# Build outputs
build/
*.o
*.ko
*.mod
*.mod.c
*.symvers
*.order

# Python
__pycache__/
*.pyc

# IDE/Editors
.vscode/
.idea/

# Libero 
*.prjx
*.prjx.lc
*.log
*.err
*.lok
*_act.log
*_synthesis.log
libero/synthesis/
libero/compile/
libero/designer/
libero/simulation/
libero/component/
libero/work/
libero/to_be_checked/
